@import "./base.css";

#app {
	margin: 0 auto;
	padding: 2rem;
	min-height: 100vh;

	font-weight: normal;
}

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
}

@media (min-width: 1024px) {
	.wrapper {
		max-width: 1300px;
		margin: 0 auto;
		position: relative;
		width: calc(100% - 60px);
	}
}

a {
	text-decoration: none;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4d4d4d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
